.App {
    text-align: center;
}

@keyframes progress-indeterminate {
    from {
        left: -25%;
        width: 25%;
    }
    to {
        left: 100%;
        width: 25%;
    }
}

.bateau ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-btn i {
    margin-left: 50px;
}

@media (min-width: 768px) {
}



@media (prefers-reduced-motion: no-preference) {
    .progress .indeterminate {
        position: relative;
        background: #336699;
        animation: progress-indeterminate 3s linear infinite;
    }
}
.input-icon{
    position: absolute;
    z-index: 999;
    margin: 10px;
    color: gray;
}
.icon-btn{
    padding-right: 15px;
}
.icon-btn i{
    margin-left: 50px;
}
.padded-form-input {
    padding-left: 30px !important;
}
