.App {
  text-align: center;
}
.input-icon{
  position: absolute;
  z-index: 999;
  margin: 10px;
  color: gray;
}
.icon-btn{
  padding-right: 15px;
}
.icon-btn i{
  margin-left: 50px;
}
.padded-form-input {
  padding-left: 30px !important;
}
@media (min-width: 768px) {
  .custom-price-layout{
    margin-top: -25px;
  }
}
.bootstrap-select button{
  display: block !important;
  height: calc(1.5em + .75rem + 2px);
  color: #495057 !important;
  background-color: transparent ;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}
form > .form-group > .col-md-12{
  padding-right: 0;
  padding-left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
