@keyframes progress-indeterminate {
    from {
        left: -25%;
        width: 25%;
    }
    to {
        left: 100%;
        width: 25%;
    }
}

.bateau ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-btn i {
    margin-left: 50px;
}

@media (min-width: 768px) {
}

.bootstrap-select button {
    display: block !important;
    height: calc(1.5em + .75rem + 2px);
    color: #495057 !important;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
